:root{
    --Cyan: hsl(179, 62%, 43%);
    --Cyan-light: hsl(179, 47%, 52%);
    --Bright-Yellow: hsl(71, 73%, 54%);

    --Light-Gray: hsl(204, 43%, 93%);
    --Grayish-Blue: hsl(218, 22%, 67%);
}
*{
    margin: 0cm;
    padding: 0cm;
    font-family: Karla;
}
body{
    background-color: var(--Light-Gray);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    display: grid;
    gap: 0cm;
    grid-template-columns: 9.5cm 9.5cm;
    grid-template-rows: 6.5cm 8cm;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 0.3cm;
}
.principal-text{
    grid-column: 1 / 3;
    grid-row: 1;
    width: 19cm;
    height: 6.5cm;
    background-color: #fff;
    border-top-left-radius: 0.3cm;
    border-top-right-radius: 0.3cm;
}
.principal-text h1{
    color: var(--Cyan);
    font-size: 0.8cm;
    margin-top: 1.2cm;
    margin-left: 1cm;
}
#days{
    color: var(--Bright-Yellow);
    margin-left: 1cm;
    margin-top: 0.7cm;
    font-size: 0.6cm;
    font-variation-settings: "wght" 700;
}
#desc{
    color: var(--Grayish-Blue);
    font-size: 0.49cm;
    margin-left: 1cm;
    margin-top: 0.3cm;
    line-height: 0.8cm;
}
.subscription{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: 9.5cm;
    height: 8cm;
    background-color: var(--Cyan);
    border-bottom-left-radius: 0.3cm;
}
#sub{
    color: #fff;
    font-size: 0.53cm;
    margin-top: 1.4cm;
    margin-left: 1cm;
    font-variation-settings: "wght" 700;
}
#class-price{
    display: flex;
    flex-direction: row;
}
#price{
    color: #fff;
    margin-left: 1cm;
    margin-top: 0.5cm;
    font-size: 0.9cm;
    font-variation-settings: "wght" 700;
}
#month{
    color: hsl(180, 60%, 64%);
    font-size: 0.49cm;
    margin-top: 0.73cm;
    margin-left: 0.3cm;
}
#access{
    color: #fff;
    font-size: 0.5cm;
    margin-left: 1cm;
    margin-top: 0.3cm;
}
#button{
    margin-left: 1cm;
    margin-top: 1cm;
    width: 7.5cm;
    height: 1.4cm;
    border-radius: 0.2cm;
    border: 0px;
    background-color: var(--Bright-Yellow);
    color: #fff;
    font-size: 0.5cm;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#button:hover{
    cursor: pointer;
    background-color: hsl(76, 95%, 61%);
}
.second-text{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 9.5cm;
    height: 8cm;
    background-color: var(--Cyan-light);
    border-bottom-right-radius: 0.3cm;
}
#why-us{
    color: #fff;
    margin-top: 1.4cm;
    margin-left: 1cm;
    font-size: 0.53cm;
    font-variation-settings: "wght" 700;
}
#response{
    color: hsl(180, 57%, 77%);
    margin-left: 1cm;
    margin-top: 0.5cm;
    line-height: 0.6cm;
}
.br2{
    display: none;
}
@media screen and (max-width: 625px){
    .container{
        grid-template-columns: 10cm;
        grid-template-rows: 8cm 7cm 7cm;
    }
    .principal-text{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        width: 10cm;
        height: 8cm;
    }
    .principal-text h1{
        font-size: 0.6cm;
        margin-top: 0.8cm;
        margin-left: 0.8cm;
    }
    #days{
        margin-left: 0.8cm;
        margin-top: 0.5cm;
        font-size: 0.48cm;
    }
    #desc{
        font-size: 0.44cm;
        margin-left: 0.8cm;
        margin-top: 0.5cm;
        line-height: 0.8cm;
    }
    .subscription{
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        width: 10cm;
        height: 7cm;
        border-bottom-left-radius: 0cm;
    }
    #sub{
        color: #fff;
        font-size: 0.53cm;
        margin-top: 0.8cm;
        margin-left: 0.8cm;
        font-variation-settings: "wght" 700;
    }
    #class-price{
        display: flex;
        flex-direction: row;
    }
    #price{
        color: #fff;
        margin-left: 0.8cm;
        margin-top: 0.5cm;
        font-size: 0.9cm;
        font-variation-settings: "wght" 700;
    }
    #month{
        color: hsl(180, 60%, 64%);
        font-size: 0.49cm;
        margin-top: 0.73cm;
        margin-left: 0.3cm;
    }
    #access{
        color: #fff;
        font-size: 0.5cm;
        margin-left: 0.8cm;
        margin-top: 0.3cm;
    }
    #button{
        margin-left: 0.8cm;
        margin-top: 0.9cm;
        width: 8.4cm;
        height: 1.4cm;
    }
    .second-text{
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        width: 10cm;
        height: 7cm;
        border-bottom-right-radius: 0.3cm;
        border-bottom-left-radius: 0.3cm;
    }
    #why-us{
        margin-top: 0.8cm;
        margin-left: 1cm;
        font-size: 0.53cm;
        font-variation-settings: "wght" 700;
    }
    #response{
        color: hsl(180, 57%, 77%);
        margin-left: 1cm;
        margin-top: 0.5cm;
        line-height: 0.6cm;
    }
    .br1{
        display: none;
    }
    .br2{
        display: flex;
    }
}